.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    margin: 0;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    gap: 20px; 
  }
  
  .nav-item {
    color: black;
  }

  .about {
    text-align: center;
    align-items: center; 
    margin: 30px;
    padding: 30px; 
    border: 2rem solid black; 
    background-color: lightgrey;
    
  }
  