.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    margin: 0;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    gap: 20px;
  }
  